@use 'base/variables' as v;

.apptms {
    list-style: none;
    padding: 0;

    li {
        padding: 1rem;
        border-top: 1px solid v.$white;
        p {
            font-weight: v.$bold;
            color: v.$blue;
        }

        span,
        .service {
            font-weight: v.$regular;
            color: v.$white;
        }
    }
}

.services {
    @extend .apptms;

    .actions {
        margin: 0;
    }
    .button,
    .delete-button {
        margin: 0;
    }
    .a-button {
        padding: 1.5rem 2rem;
    }
}