@use 'base/variables' as v;
@use 'base/mixins' as m;

.container-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .image {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow: scroll;
            padding-right: 1rem;
            -ms-overflow-style: none;
        }
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.bar {
    margin: v.$separation 0;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        @include m.button(v.$red, v.$white);
        margin: 0;
    }

    p {
        background-color: v.$blue;
        border-radius: 1rem;
        padding: 1.5rem;
        font-weight: v.$bold;
    }
}


.service-bar {
    margin-bottom: v.$separation;

    @include m.tablet {
        display: grid;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100%;
    }

    .button {
        width: 100%;
        margin: 1rem 1rem 1rem 0;
    }
}